/* styles.css */
*{

    margin: 0;
    padding: 0;
}

.main{
    background-image:linear-gradient(rgba(28, 32, 49, 0.7),rgba(26, 30, 46, 0.7)),url();
    background-position: center;
    background: cover;
    min-height: 270px;

}
.content{
    margin-left: 8%;
    padding: 10%;
} 

.content p{
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: #ffffff;
}

.content h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #ffffff;

}

font-family: Arial,
sans-serif;
margin: 0;
padding: 0;

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}



.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.grid-item {
    width: 100%;
    height: auto;
}

.grid-item img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}



.container {
    width: 80%;
    margin: 0 auto;
}

.header-top {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

.header-top .contact-info,
.header-top .header-right {
    display: flex;
    justify-content: space-between;
}

.header-top p {
    margin: 0;
}

nav {
    background-color: #444;
    padding: 15px 0;
    overflow: auto;
}

nav .logo {
    float: left;
}

nav .logo h1 {
    color: #fff;
    margin: 0;
}

nav .nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    float: right;
}

nav .nav-links li {
    display: inline;
    margin-left: 20px;
}

nav .nav-links a {
    color: #fff;
    text-decoration: none;
}

.projects-header {
    background: url('img/projects-header.jpg') no-repeat center center;
    background-size: cover;
    padding: 50px 0;
    text-align: center;
    color: #fff;
}

.space {
    /* width: 20px;
    height: 20px; */
    margin-top: 120px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 50px 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.footer-content div {
    width: 23%;
}

.footer-content h2,
.footer-content p {
    margin: 0 0 20px;
}

.footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links li {
    margin-bottom: 10px;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
}

.footer-newsletter input[type="email"] {
    width: calc(100% - 100px);
    padding: 10px;
    border: none;
    margin-right: 10px;
}

.footer-newsletter button {
    padding: 10px;
    background-color: #fcb800;
    border: none;
    color: #fff;
    cursor: pointer;
}

.footer-bottom {
    background-color: #222;
    padding: 20px 0;
    text-align: center;
}